<div class="league-list-container">
  <h2>Lige</h2>

  <div class="action-bar">
    <a routerLink="/admin" class="btn btn-secondary">Nazad na Dashboard</a>
    <button class="btn-primary-admin" (click)="goToCreate()">+ Dodaj novu ligu</button>
  </div>

  <div class="table-wrapper">
      <table class="styled-table">
          <thead>
              <tr>
                  <th>Naziv</th>
                  <th>Aktivna?</th>
                  <th>Akcija</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let league of leagues">
              <td>{{ league.name }}</td>
              <td>
                <span [class.active]="league.isActive" [class.inactive]="!league.isActive">
                  {{ league.isActive ? 'Da' : 'Ne' }}
                </span>
              </td>
              <td class="action-buttons">
                <button class="btn-secondary-admin" (click)="editLeague(league.id)">Izmeni</button>
                <button class="btn-danger-admin" (click)="deactivateLeague(league.id)">Deaktiviraj</button>
                <button class="btn-view-admin" (click)="viewLeague(league.id)">Detalji</button>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>