<footer class="footer">        
    <div class="footer-content">
        <div class="footer-grid">
            <!-- <div class="footer-section">
                <h3>Informacije o ligi</h3>
                <p>Ovde mozes da ubacis neki kratak tekst ako zelis.</p>
                <div class="social-icons">
                    <div class="social-icon">📘</div>
                    <div class="social-icon">📷</div>
                    <div class="social-icon" (click)="openInstagram()"><fa-icon style="color:pink" [icon]="['fab', 'instagram']"></fa-icon></div>
                    <div class="social-icon">📺</div>
                    
                </div>
            </div> -->
             <div class="footer-section">
                <h3>Kontakt</h3>
                <ul>
                    <li>
                         <a class="footer-link" 
                            href="https://www.google.com/maps/place/Wave+Bazen+In%C4%91ija/@45.0630955,20.0614867,269m/data=!3m1!1e3!4m6!3m5!1s0x475af9365f994bc1:0xa699b14a94d26d9c!8m2!3d45.0631207!4d20.0616!16s%2Fg%2F11vz97v_rr?entry=ttu&g_ep=EgoyMDI2MDMxNS4wIKXMDSoASAFQAw%3D%3D" 
                            target="_blank" 
                            rel="noopener noreferrer">
                            📍Novosadski put 44, Indjija 22320</a>    
                    </li>
                    <li>
                        <p>📞 +381 60 5576761</p>
                    </li>
                    <li>
                        <p>✉️ inliga.indjija&#64;gmail.com</p>
                    </li>
                    <li>
                        <p>🕒 Pon-Pet: 16:00-22:00<br> Vikendom: 9:00-20:00</p>
                    </li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Korisni linkovi</h3>
                <ul>
                    <li>
                        <a class="footer-link" 
                            href="https://drive.google.com/drive/folders/1hogcKXlizuOyhBlu2gemUWOZA7aD2lXt" 
                            target="_blank" 
                            rel="noopener noreferrer">
                            📷 Slike sa utakmice
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" 
                            href="https://www.instagram.com/inliga_indjija/" 
                            target="_blank" 
                            rel="noopener noreferrer">
                            <fa-icon style="color:pink" [icon]="['fab', 'instagram']"></fa-icon> Instagram profil
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div>© 2025 InLiga. All rights reserved.</div>
        </div>
    </div>
</footer>