<footer class="footer">        
    <div class="footer-content">
        <div class="footer-grid">
            <div class="footer-section">
                <h3>Informacije o ligi</h3>
                <p>Ovde mozes da ubacis neki kratak tekst ako zelis.</p>
                <div class="social-icons">
                    <!-- <div class="social-icon">📘</div> -->
                    <div class="social-icon">📷</div>
                    <div class="social-icon" (click)="openInstagram()"><fa-icon style="color:pink" [icon]="['fab', 'instagram']"></fa-icon></div>
                    <!-- <div class="social-icon">📺</div> -->
                    
                </div>
            </div>
            
            <div class="footer-section">
                <h3>Korisni linkovi</h3>
                <ul>
                    <li>
                    <a class="footer-link" 
                        href="https://drive.google.com/drive/folders/14QgV-fxiSZMgtIswm9__OHl6Mqnf-8VY" 
                        target="_blank" 
                        rel="noopener noreferrer">
                        Slike sa utakmice
                    </a>
                    </li>
                </ul>
            </div>

            
            <div class="footer-section">
                <h3>Kontakt</h3>
                <p>📍 Novosadski put 44, Indjija 22320</p>
                <p>📞 +1 (555) 123-GOAL</p>
                <p>✉️ inliga.indjija&#64;gmail.com</p>
                <p>🕒 Pon-Pet: 16:00-22:00<br>
                       Vikendom: 9:00-20:00</p>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div>© 2025 InLiga. All rights reserved.</div>
        </div>
    </div>
</footer>