<div class="container season-leaders-card">
  <div class="tabs">
    <div (click)="selectCategory('goal')" [class.active]="category === 'goal'">Strelci</div>
    <div (click)="selectCategory('assist')" [class.active]="category === 'assist'">Assistencije</div>
    <div (click)="selectCategory('points')" [class.active]="category === 'points'">Odbrane</div>
  </div>

  <div class="">
    
    <div class="season-leader-header">
        <span class="highlight-blue-color" id="season-leader-header">Top Strelci</span>
    </div>
    <div class="top-player">
      <div class="info">
        <p class="firstname">{{ topPlayer.firstName }}</p>
        <h3 class="lastname">{{ topPlayer.lastName }}</h3>
        <p class="score highlight-gold-color">{{ topPlayer.goals }}</p>
      </div>
      <img [src]="topPlayer.image" alt="{{ topPlayer.lastName }}" class="top-player-img" />
    </div>

    <ul class="players-list">
      <li *ngFor="let player of players; index as i" class="player-item">
        <div class="left">
          <span class="rank">{{ i + 2 }}</span>
          <img [src]="player.image" alt="{{ player.name }}" />
          <div>
            <p class="name highlight-blue-color">{{ player.name }}</p>
            <p class="team">{{ player.team }}</p>
          </div>
        </div>
        <span class="goals highlight-gold-color">{{ player.goals }}</span>
      </li>
    </ul>
  </div>
</div>
