<!-- sponsors-carousel.component.html -->
<h1 class="highlight-blue-color">
  Sponzori
</h1>

<!-- Show sponsors when available -->
<div class="sponsors-marquee">
    <div class="sponsors-track">
        <div class="sponsor-card-moving" (click)="goToSponsorPage('GirosIn')">
            <img src="Giros IN.png" alt="GirosIn">
            <div class="sponsor-name-overlay">GirosIn</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Helioprogress')">
            <img src="Helioprogress.png" alt="Helioprogress">
            <div class="sponsor-name-overlay">Helioprogress</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('NormaPetrol')">
            <img src="Norma_Petrol-removebg-preview.png" alt="Norma Petrol">
            <div class="sponsor-name-overlay">Norma Petrol</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Plamen')">
            <img src="logo-plamen-footer-1440px.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">Plamen</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Ideal')">
            <img src="Ideal-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">Ideal</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('PROBAG')">
            <img src="Pro-bag-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">PRO-BAG</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('PROLinePVC')">
            <img src="PRo-line-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">PROLine PVC</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('MetalInZelic')">
            <img src="Metal-in-zelic.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">METAL-IN ZELIĆ</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('HealthAndFit')">
            <img src="Health-and-fit-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">HEALTH AND FIT</div>
        </div>
        <!-- Duplicated for seamless loop -->
        
        <div class="sponsor-card-moving" (click)="goToSponsorPage('GirosIn')">
            <img src="Giros IN.png" alt="GirosIn">
            <div class="sponsor-name-overlay">GirosIn</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Helioprogress')">
            <img src="Helioprogress.png" alt="Helioprogress">
            <div class="sponsor-name-overlay">Helioprogress</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('NormaPetrol')">
            <img src="Norma_Petrol-removebg-preview.png" alt="Norma Petrol">
            <div class="sponsor-name-overlay">Norma Petrol</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Plamen')">
            <img src="logo-plamen-footer-1440px.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">Plamen</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Ideal')">
            <img src="Ideal-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">Ideal</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('PROBAG')">
            <img src="Pro-bag-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">PRO-BAG</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('PROLinePVC')">
            <img src="PRo-line-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">PROLine PVC</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('MetalInZelic')">
            <img src="Metal-in-zelic.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">METAL-IN ZELIĆ</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('HealthAndFit')">
            <img src="Health-and-fit-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">HEALTH AND FIT</div>
        </div>
        <!-- Duplicated for seamless loop -->
        
        <div class="sponsor-card-moving" (click)="goToSponsorPage('GirosIn')">
            <img src="Giros IN.png" alt="GirosIn">
            <div class="sponsor-name-overlay">GirosIn</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Helioprogress')">
            <img src="Helioprogress.png" alt="Helioprogress">
            <div class="sponsor-name-overlay">Helioprogress</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('NormaPetrol')">
            <img src="Norma_Petrol-removebg-preview.png" alt="Norma Petrol">
            <div class="sponsor-name-overlay">Norma Petrol</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Plamen')">
            <img src="logo-plamen-footer-1440px.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">Plamen</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Ideal')">
            <img src="Ideal-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">Ideal</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('PROBAG')">
            <img src="Pro-bag-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">PRO-BAG</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('PROLinePVC')">
            <img src="PRo-line-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">PROLine PVC</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('MetalInZelic')">
            <img src="Metal-in-zelic.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">METAL-IN ZELIĆ</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('HealthAndFit')">
            <img src="Health-and-fit-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">HEALTH AND FIT</div>
        </div>
        <!-- Duplicated for seamless loop -->
        
        <div class="sponsor-card-moving" (click)="goToSponsorPage('GirosIn')">
            <img src="Giros IN.png" alt="GirosIn">
            <div class="sponsor-name-overlay">GirosIn</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Helioprogress')">
            <img src="Helioprogress.png" alt="Helioprogress">
            <div class="sponsor-name-overlay">Helioprogress</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('NormaPetrol')">
            <img src="Norma_Petrol-removebg-preview.png" alt="Norma Petrol">
            <div class="sponsor-name-overlay">Norma Petrol</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Plamen')">
            <img src="logo-plamen-footer-1440px.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">Plamen</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('Ideal')">
            <img src="Ideal-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">Ideal</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('PROBAG')">
            <img src="Pro-bag-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">PRO-BAG</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('PROLinePVC')">
            <img src="PRo-line-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">PROLine PVC</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('MetalInZelic')">
            <img src="Metal-in-zelic.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">METAL-IN ZELIĆ</div>
        </div>
        <div class="sponsor-card-moving" (click)="goToSponsorPage('HealthAndFit')">
            <img src="Health-and-fit-logo.png" alt="MG Brvnara">
            <div class="sponsor-name-overlay">HEALTH AND FIT</div>
        </div>
    </div>
</div>