
<app-hero-section></app-hero-section>

<div class="padding-2-5">
    <div class="flex-container">
        <div id="standing-container">
            <section id="standing-section">
                <app-standing></app-standing>
            </section>
        </div>
        <div id="season-leaders-container">
            <section id="leagues-section">
                <app-season-leaders></app-season-leaders>
            </section>
        </div>
    </div>



    <!-- <div class="fixtures-container">
        <app-fixture-preview></app-fixture-preview>
    </div> -->

    <app-fixture-carousel></app-fixture-carousel>
</div>