
<app-hero-section></app-hero-section>

<app-sponsor-carousel></app-sponsor-carousel>

<app-dream-team></app-dream-team>

<div id="standing-leaders-container">
    <div class="flex-container">
        <div id="standing-container">
            <section id="standing-section">
                <app-standing></app-standing>
            </section>
        </div>
        <div id="season-leaders-container">
            <section id="leagues-section">
                <app-season-leaders></app-season-leaders>
            </section>
        </div>
    </div>

    <app-fixture-carousel></app-fixture-carousel>
</div>