<div class="table-container">
  <table>
    <thead>
      <tr>
        <th><span class="header-full">Pozicija</span><span class="header-short">Poz</span></th>
        <th><span class="header-full">Ekipa</span><span class="header-short">Tim</span></th>
        <th><span class="header-full">Utakmice</span><span class="header-short">U</span></th>
        <th><span class="header-full">Pobede</span><span class="header-short">P</span></th>
        <th><span class="header-full">Nerešeno</span><span class="header-short">N</span></th>
        <th><span class="header-full">Izgubljeno</span><span class="header-short">I</span></th>
        <th><span class="header-full">Golovi</span><span class="header-short header-goals">G</span></th>
        <th><span class="header-full">Poeni</span><span class="header-short">PTS</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let standing of seasonStanding; let i = index">
        <td>
          <span class="display-flex w-full text-xs">
            <p
              [ngClass]="{
                'background-gold-color': i + 1 <= 8,
                'content-center': true,
                'rounded-lg': true,
                'position-td': true
              }"
            >
              {{ i + 1 }}
            </p>
          </span>
        </td>
        <td class="team-name" (click)="onTeamClick(standing.teamId)"><img class="team-logo" [src]="getImage(standing.logo)">{{ standing.teamName }}</td>
        <td>{{ standing.matchesPlayed }}</td>
        <td>{{ standing.wins }}</td>
        <td>{{ standing.draws }}</td>
        <td>{{ standing.losses }}</td>
        <td>{{ standing.goalsDifference}}</td>
        <td class="highlight-red-color">{{ standing.points }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="legend-container">
  <div class="legend-item">
    <span class="legend-indicator background-gold-color"></span>
    <p>Kvalifikacije - Playoff</p>
  </div>
</div>