
<app-navbar></app-navbar>

<div class="padding-2-5">
    <section id="leagues-section">
        <app-league></app-league>
    </section>
    <!-- <div class="col">
        <div class="row">
            <div class="col-7">
                <section id="standing-section">
                    <app-standing></app-standing>
                </section>
            </div>
            <div class="col-5">
                <section id="leagues-section">
                    <app-season-leaders></app-season-leaders>
                </section>
            </div>
        </div>
    </div> -->

    <div class="flex-container">
        <div id="standing-container">
            <section id="standing-section">
                <app-standing></app-standing>
            </section>
        </div>
        <div id="season-leaders-container">
            <section id="leagues-section">
                <app-season-leaders></app-season-leaders>
            </section>
        </div>
    </div>



    <div class="fixtures-container">
        <app-fixture-preview></app-fixture-preview>
    </div>
    <router-outlet />
</div>
