
html{
  
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}
body{
    margin: 0rem;
    background-color: #f8f9fa;
}

.padding-2-5{
  padding: 2rem 5rem;
}

.disabled-color{
  color: #adb5bd;
}

.highlight-gold-color{
  color: #ffd700;
}

.highlight-red-color{
  color: #ae1822;
}

.highlight-blue-color{
  color: #01234c;
}

.background-gold-color{
  background-color: #ffd700;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-l{
  font-size: 1.35rem;
  font-weight: bold;
  line-height: 1rem;
}

.items-center{
  align-items: center;
}

.content-center{
  align-content: center;
}

.justify-center{
  justify-content: center;
}


.w-full{
  width: 100%;
}

.rounded-lg{
  border-radius: .5rem;
}

.display-flex{
  display: flex;
}

.gap-1{
  gap: 1rem;
}

.justify-content-space-between{
  justify-content: space-between;
}

.margin-left-5{
  margin-left: 5px;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}


.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.position-relative {
  position: relative;
}

.margin-top-8{
  margin-top: 8rem;
}

.margin-8-auto{
  margin: 8rem auto;
}
.action-buttons-container{
  display: flow-root;
}

/* Button Styles */
.btn-primary-admin {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-primary-admin:hover {
  background-color: #0056b3;
}

.btn-secondary-admin {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.btn-secondary-admin:hover {
  background-color: #5a6268;
}

.btn-danger-admin {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.btn-danger-admin:hover {
  background-color: #c82333;
}


.btn-success-admin {
  background-color: #00ff88;
  color: black;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.btn-success-admin:hover {
  background-color: #02e079;
}

.btn-view-admin {
  background-color: #01234c;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.btn-view-admin:hover {
  background-color: #01234c;
}